.sidebar{
	flex: 1;
	height: calc(100vh - 50px);
	background-color: #425571;
	position: sticky;
	top: 50px;
}
.sidebarWrapper{
	padding: 20px;
	color: #ffffff;
}
.sidebarMenu{
		margin-bottom: 20px;
		color: #e7e7e7;
		font-weight: bold;
}
.sidebartitle{
	font-size: 24px;
  font-weight: bold;
}
.sidebarList{
	list-style: none;
	padding: 5px;
}
.sidebarListItem{
	padding: 5px;
	cursor: pointer;
	display: flex;
	align-items: center;
	border-radius: 10px;
}
.sidebarListItem.active ,.sidebarListItem:hover{
	background-color: #272745;
}
.sidebarIcon{
	margin-right: 5px;
	font-size: 20px !important;
}
.link{
	text-decoration: none;
	color: inherit;
}