.ListCategorie{
	flex: 4;
}
.List{
	height: 600px; width: 95%;
	padding-left: 20px;
	padding-top: 15px;
display: flex;
align-items: center;


}
.categorieListEdit{
	border: none;
	border-radius: 10px;
	padding: 5px 10px;
	background-color: #425572;
	color: #ffff;
	cursor: pointer;
	margin-right: 20px;
}
.categorieListDelete{
	color:#ffff;
	background-color: #425572;
	cursor: pointer;
	border-radius: 7px;
}